html{height:100%;}
body{background: url(../img/bg_tile.png) repeat-x #aadd5a;height:100%;}
ul {list-style:none;}
p{ font-size:14px;}
a{text-decoration:none;}
h2{margin:0;padding:0;}


.tf-wrapper{
	
	margin:0 auto;
	overflow:hidden;
	height:100%;
}

.main-header{
	display:block;
	height:89px;
	width:960px;
	margin:0 auto;
}
.main-header .the-logo{
	float:left;
	margin:0;
}
.main-header nav{
	float:right;
	margin-top:10px;
}
.main-header nav a{
	display:block;
	float:left;
	
	font-size:20px;
	text-align:center;
	color:#fae2b8;
	padding:15px 25px 15px 25px;
	
	   -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
     -khtml-border-radius: 8px;
}
.main-header nav a:hover{
    color:#fcf1db;
    background:#0c0d12;
}




.content{
	position:relative;
}


.tf-page{
	display:none;
	
}
.tf-page.active{
	display:block;
}



.black-panel{
	background:#151926;
	border:solid 2px black;
	padding:20px;
	   -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
            border-radius: 8px;
     -khtml-border-radius: 8px;

     color:white;

}











/*
 _             _                                _     _            
| | ___   __ _(_)_ __      _     _ __ ___  __ _(_)___| |_ ___ _ __ 
| |/ _ \ / _` | | '_ \   _| |_  | '__/ _ \/ _` | / __| __/ _ \ '__|
| | (_) | (_| | | | | | |_   _| | | |  __/ (_| | \__ \ ||  __/ |   
|_|\___/ \__, |_|_| |_|   |_|   |_|  \___|\__, |_|___/\__\___|_|   
         |___/                            |___/                    

begin: login + register

*/

.login-register{
	overflow:hidden;
		width:960px;
	margin:0 auto;

}
.login-register input[type="text"],
.login-register input[type="password"]{
	width:98%;
}
.login-register h2{
	margin-bottom:10px;
	color:#D58800;
}
.login-register aside{
	position:relative;

}
.login-register table{
	width:100%;

}
.login-register tr{
	line-height:30px;
}

.login-register label{
	margin-right:20px;
}

.login-register .submit{
	float:left;
	margin-right:10px;
}

.login-register .status{
	text-align:right;
	float:right;
}
.login-register .status .wait{
	float:right;
	display:none;
}
.login-register .status .fail{
	display:none;
	color:#BB0000;
}



.login-wrapper{
	width:400px;
	float:left;
}
.register-wrapper{
	width:400px;
	float:right;
}


/*ヽ༼ຈل͜ຈ༽ﾉ */


/*
end: login and register
*/





/*
 _       _     _           
| | ___ | |__ | |__  _   _ 
| |/ _ \| '_ \| '_ \| | | |
| | (_) | |_) | |_) | |_| |
|_|\___/|_.__/|_.__/ \__, |
                     |___/ 
begin lobby
*/
.lobby-wrapper{
	width:960px;
	margin:0 auto;

}
.lobby-wrapper .worlds>div{
	float:left;
	margin-right:20px;

}
.lobby-wrapper table{
	border:solid 1px black;
	padding:20px;
	background:#DDD;
	text-align:center;
	color:#222;

}
.lobby-wrapper thead{
	font-weight:bold;
	border-bottom:solid 1px black;
	color:#DDD;
	background:#222;
}
.lobby-wrapper td{
	max-width:200px;
	padding:10px;
}
.lobby-wrapper h2{
	margin-top:20px;
}
.lobby-wrapper tbody tr{
	border-bottom:dotted 1px black;
}





/* end: lobbys







/*                          
  __ _  __ _ _ __ ___   ___ 
 / _` |/ _` | '_ ` _ \ / _ \
| (_| | (_| | | | | | |  __/
 \__, |\__,_|_| |_| |_|\___|
 |___/                      

begin: game
*/

.game-wrapper{
	margin:0 auto;
	background:black;
	height:100%;
	width:100%;
	z-index:1001;
	position:absolute;
	top:0;
	overflow:hidden;
}

.world-wrapper{
	position:absolute;
	height:100%;
	width:100%;
	min-width:900px;
	top:0;
	left:0;
	overflow:hidden;
}
.world-wrapper canvas{
	width:100%;
	position:absolute;
	bottom:0;


}


.game-wrapper .right-panel{
	position:absolute;
	right:1%;
	top:2%;
	background:none;
}
.game-wrapper aside{
	padding:0;
	background:white;
	overflow:hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: -2px 2px 20px rgba(0,0,0,.3);
}
.game-wrapper aside>div{
	padding-top:0;
	margin:0;

}
.game-wrapper aside h1{
	font-size:16px;
	margin-bottom:0;
	padding-bottom:0;
	padding:5px 10px;
	margin:0;
}

.game-wrapper aside .table-wrap{
	overflow:hidden;
	width:100%;
	height:0;

}
.game-wrapper aside .accordian-section:first-child .table-wrap{
	height:auto;
}

.game-wrapper aside table{
	width:100%;
}
.game-wrapper aside tr{
	border-bottom:dotted 1px #333;
	cursor:pointer;
}
.game-wrapper aside tr:last-child{
	border-bottom:none;
}
aside td{
	padding:5px 10px;
	font-size:12px;
}




.game-wrapper footer{
	width:100%;
	position:absolute;
	bottom:0%;
	z-index:10000;
	overflow:hidden;

}

.game-wrapper footer .action-bar{
	width:98%;
	margin:0 auto;
	margin-bottom:10px;
}

.game-wrapper .action-bar button{
	border:none;
	width:4%;
	height:4%;
	border-radius:5px;
	margin-right:5px;
	box-shadow: -2px 2px 20px rgba(0,0,0,.3);
	outline:none;
}
.game-wrapper .action-bar button img{
	width:100%;

}

.game-wrapper .quick-bar{
	width:100%;
	overflow:hidden;
	box-shadow: -2px 2px 20px rgba(0,0,0,.3);
}
.game-wrapper footer .quick-bar div>span{
	float:left;
	padding:5px 10px;
	border-left:solid 1px #CCC;
	border-right:solid 1px #fff;
}
.game-wrapper footer .world-info{
	float:left;
}
.game-wrapper footer .player-info{
	float:right;
}


.game-wrapper footer .currency{
	padding-left:30px;
	background:url(../img/game-icons/dollar.png) no-repeat  10px center;
}
.game-wrapper footer .actions-remaining{
	padding-left:30px;
	background:url(../img/game-icons/hourglass.png) no-repeat  10px center;
}
.game-wrapper footer .lumber{
	padding-left:30px;
	background:url(../img/game-icons/lumber.png) no-repeat  10px center;
}



.currency-icon{
	padding-left:30px !important;
	background:url(../img/game-icons/dollar.png) no-repeat  10px center;
}
.hourglass-icon{
	padding-left:30px !important;
	background:url(../img/game-icons/hourglass.png) no-repeat  10px center;
}
.lumber-icon{
	padding-left:30px !important;
	background:url(../img/game-icons/lumber.png) no-repeat  10px center;

}




.white-bar{

background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

.white-bar.hoverable:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(242,242,242,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(51%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(242,242,242,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.white-bar.hoverable:active{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}






.black-bar{
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 46%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(46%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(71,71,71,1) 46%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(71,71,71,1) 46%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(71,71,71,1) 46%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(71,71,71,1) 46%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	color:white;
}



/*
end: game
*/




.three-container{
	display:none;
}
.three-container canvas{
	background-color: #000000;
}


















